.OurProducts{
    text-align: center;
    margin: 100px;
    margin-top: 140px;
    font-size: 42px;
}
:global(.swiper-button-next),
:global(.swiper-button-prev) {
  opacity: 30%;
  background-color: #343434;
  padding: 20px 25px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);  
  z-index: 10;
  border: 1px #FE4165 solid;
}
:global(.swiper-button-next):hover,
:global(.swiper-button-prev):hover {
  transition: 0.5s box-shadow ease;
  opacity: 80%;
  box-shadow: hsla(349, 99%, 63%, 0.6) 2px 2px 2px, hsla(349, 99%, 63%, 0.6) -2px -2px 2px;
}
:global(.swiper-button-next):active,
:global(.swiper-button-prev):active {
  opacity: 90%;
}
:global(.swiper-button-next::after),
:global(.swiper-button-prev::after) {
  color: #FE4165;
  font-weight: 600;
}
:global(.swiper) {
  --swiper-pagination-bullet-size: 14px;
  --swiper-pagination-bullet-horizontal-gap: 5px;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-color: #FE4165;
}
:global(.swiper-pagination-bullet:hover){
  transform: scale(1.3);
  background-color: #FE4165;
  opacity: 0.8;
  transition: transform 1s ease, background-color 1s ease, opacity 1s ease;

}
:global(.swiper-pagination-bullet-active) {
  transform: scale(1.3);
  transition: transform 0.3s ease, background-color 0.3s ease;
}
@media (max-width: 700){
    .OurProducts{
        font-size: 36px;
    }
}