.title{
    margin: 100px;
    text-align: center;
    font-size: 42px;
}
.container{
    align-content: center;
}
.line{
    width: 100%;
    height: 0.1vh;
    background-color: #FE4165;
    margin: 1vh auto;
}
.afterLine{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 5vh;
}
.middle{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.middle p{
    cursor: pointer;
    text-decoration: underline;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newsletter{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.newsletter img{
    height: 5vh;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.buttons input{
    all: unset;
    border: #FE4165 1px solid;
    padding: 1.5vh 1.5vw;
}
.buttons input:nth-child(2){
    cursor: pointer;
    background-color: #FE4165;
}
.contactUs{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.email, .phone, .Facebook, .Instagram, .Youtube{
    display: flex;
    align-items: center;
    gap: 1vw;
    cursor: pointer;
}
.email div, .phone div, .Facebook div, .Instagram div, .Youtube div{
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.email div{
    background-image: url(../assets/email.svg);
}
.email:hover div {
  transition: 1s background-image ease;
  background-image: url(../assets/email_hover.svg);
}
.email:hover p {
    transition: 1s color ease;
    color: #FE4165;
}
.phone:hover div {
    transition: 1s background-image ease;
    background-image: url(../assets/phone_hover.svg);
}
.phone:hover p {
    transition: 1s color ease;
    color: #FE4165;
}
.phone div{
    background-image: url(../assets/phone.svg);
}
.Facebook div{
    background-image: url(../assets/facebook.svg);
}
.Instagram div{
    background-image: url(../assets/instagram.svg);
}
.Youtube div{
    background-image: url(../assets/youtube.svg);
}
.followUs{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Facebook:hover div {
  transition: 1s background-image ease;
  background-image: url(../assets/facebook_hover.svg);
}
.Facebook:hover p {
    transition: 1s color ease;
    color: #FE4165;
}
.Youtube:hover div {
    transition: 1s background-image ease;
    background-image: url(../assets/youtube_hover.svg);
}
.Youtube:hover p {
    transition: 1s color ease;
    color: #FE4165;
}
.Instagram:hover div {
    transition: 1s background-image ease;
    background-image: url(../assets/instagram_hover.svg);
}
.Instagram:hover p {
    transition: 1s color ease;
    color: #FE4165;
}