.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #343434;
    border: 1px #FE4165 solid;
    margin: 50px;
    border-radius: 20px;
    max-width: 500px;
    min-width: 200px;
    text-align: center;
}
.left{

}
.right{
    
}