.card{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
    height: 600px;
    border: 1px solid #FE4165;
    margin: 20px auto;
    background-color: #343434;
    border-radius: 25px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.top img{
    height: 350px;
}
.top h1{
    text-align: center;
    font-weight: 500;
}